.btn2{
    display: flex;
height: 60px;
padding: 0px 50px;
justify-content: center;
align-items: center;
gap: 12px;
border-radius: 20px;
background: var(--call-to-action, #A259FF);
}

.title{
    color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 22.4px */
}